$Softblue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);

$CyanBlur: hsla(178, 100%, 50%, 0.377);


$veryDarkBlueMain: hsl(217, 54%, 11%); //main BG
$veryDarkBlueCard: hsl(216, 50%, 16%);//Card BG
// $veryDarkBlueLine: hsl(215, 32%, 27%);//line
$veryDarkBlueLine: rgb(88, 107, 134);//line

$white: hsl(0, 0%, 100%);

$fontSize:18px;

$mobileScreen: 375px;
$desktopScreen:1440px;
